nav.navbar
  a(href='https://github.com/Swiip/generator-gulp-angular') Gulp Angular
  ul
    li.active
      a(ng-href='#') Home
    li
      a(ng-href='#') About
    li
      a(ng-href='#') Contact
  ul.acme-navbar-text
    li Application was created {{ vm.relativeDate }}.
