.container
  .nav-block
    div(ng-repeat="stage in main.surveyData.stages")
      span(ng-bind="stage['tab-title']")
  .nav-body
    .title(ng-bind="main.activeStage.title")
    .description(ng-bind="main.activeStage.description")
    form(name="form")
      div(messages,  ng-repeat="message in main.activeStage.messages")
    input(type='text', ng-model="main.test2", ng-change="main.test()", pattern='')

