.container
  div
    acme-navbar(creation-date='main.creationDate')
  .jumbotron
    h1 'Allo, 'Allo!
    p.lead
      img(src='assets/images/yeoman.png', alt="I'm Yeoman")
      br
      |       Always a pleasure scaffolding your apps.
    p(ng-class='main.classAnimation')
      a.btn.btn-lg.btn-success(ng-click='main.showToastr()') Splendid Toastr
    p
      | With ♥ thanks to the contributions of
      acme-malarkey(extra-values="['Yeoman', 'Gulp', 'Angular']")
  .col(ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'")
    .thumbnail
      img.pull-right(ng-src='assets/images/{{ awesomeThing.logo }}', alt='{{ awesomeThing.title }}')
      .caption
        h3 {{ awesomeThing.title }}
        p {{ awesomeThing.description }}
        p
          a(ng-href='{{ awesomeThing.url }}') {{ awesomeThing.url }}
